.list_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 1em;
}

.list_container a {
  text-decoration: none;
  color: black;
  display: flex;
}

.list_container .list_item {
  width: 300px;
  flex: 0 1 auto;
}
